extends javascript
extends jsx

#-------------------------------------------------------------------
# Types
#-------------------------------------------------------------------
snippet type
type ${1} = {
  key: number;
}
endsnippet

snippet interface
interface ${1} {
  key: number;
}
endsnippet

#-------------------------------------------------------------------
# Other Helpers
#-------------------------------------------------------------------
snippet td
// tslint:disable-next-line
endsnippet
